* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header {
  padding-bottom: 100px;
  height: 100vh;
  background-color: #0c0c0c;
  display: flex;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}
.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #232a34;
}
.nav_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  z-index: 3;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: transparent;
  align-items: center;
  z-index: 3;
}
.nav_logo {
  margin-left: 3rem;
  cursor: pointer;
}
.nav_logo i {
  font-size: 2.5rem;
  color: #fff;
}
.nav_menu {
  display: flex;
  margin-right: 5rem;
  align-items: center;
  cursor: pointer;
}
.nav_items a {
  color: #fff;
  padding-left: 3rem;
  font-size: 1.5rem;
  position: relative;
}
.nav_items a:before {
  content: '';
  width: 78px;
  height: 3px;
  background-color: rgb(159, 92, 226);
  display: block;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transform: translateX(58%);
}
.nav_items a:hover {
  color: rgb(159, 92, 226);
  transition: all 0.2s ease-in;
}
.nav_items a:hover:before {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.main_box {
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  text-align: center;
  z-index: 3;
}
.main_imgbox {
  margin: 100px auto 100px;
  border: 5px solid rgb(159, 92, 226);
  border-radius: 50%;
  background-image: url(./images/img_5.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_img {
  width: 200px;
  height: 200px;
}
.main_box img {
  width: 100%;
}
.main_textWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.main_title {
  padding-bottom: 3rem;
  font-size: 48px;
}
.main_textBox {
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: 1000px;
}
.main_btn {
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  border: none;
  background-color: rgb(159, 92, 226);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.main_btn:hover {
  background-color: #fff;
  color: #0c0c0c;
  transition: all 0.2s ease-in-out;
}
.container_info {
  background-color: #fff;
  color: #0c0c0c;
}
.row {
  display: grid;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}
.row_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col2 col1';
  align-items: center;
}
.col1 {
  grid-area: col1;
  margin-bottom: 15px;
  padding: 0 15px;
}
.col2 {
  grid-area: col2;
  margin-bottom: 15px;
  padding: 0 15px;
}
.col2 img {
  width: 100%;
}
.topline {
  font-size: 18px;
  padding: 15px 0;
  color: rgb(159, 92, 226);
}
.heading {
  font-size: 48px;
  padding: 15px 0;
}
.subtitle {
  font-size: 18px;
  padding: 15px 0 15px;
}
.icons_wrapper {
  padding-bottom: 15px;
}
.icons_wrapper i {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.container_btn {
  border-radius: 5px;
  padding: 1rem 3rem;
  border: none;
  background-color: rgb(159, 92, 226);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.container_btn:hover {
  background-color: #0c0c0c;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.container_info.container_info_black {
  background-color: black;
  color: #fff;
}
.container_info_black .row_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col1 col2';
  align-items: center;
}

.container_info_black .container_btn:hover {
  background-color: #fff;
  color: #0c0c0c;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .nav_box {
    margin: 0;
  }
  .nav_logo {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .main_title {
    font-size: 36px;
    margin-bottom: 3rem;
  }
  .main_textBox {
    display: none;
  }
  .main_btn {
    font-size: 16px;
    padding: 1rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .nav_logo i {
    font-size: 1.8rem;
  }
  .nav_items a {
    font-size: 1rem;
  }
  .nav_items a::before {
    width: 48px;
    transform: translateX(100%);
  }
  .main_title {
    font-size: 28px;
    margin: 0 2rem;
  }
  .row_wrapper {
    grid-template-areas: 'col1 col1';
  }
  .container_info_black .row_wrapper {
    grid-template-areas: 'col1 col1';
    padding: 0 3rem;
  }
  .col2 {
    display: none;
  }
  .container_btn {
    font-size: 16px;
    padding: 1rem 3rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .main_title {
    font-size: 21px;
  }
  .row_wrapper {
    text-align: center;
    padding: 0 3rem;
  }
  .container_info_black .row_wrapper {
    text-align: center;
  }
}
