* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header {
  padding-bottom: 100px;
  height: 100vh;
  background-color: #0c0c0c;
  display: flex;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}
.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #232a34;
}
.nav_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  z-index: 3;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: transparent;
  align-items: center;
  position: relative;
  z-index: 3;
}
.nav_logo {
  margin-left: 3rem;
  cursor: pointer;
}
.nav_logo i {
  font-size: 2.5rem;
  color: #fff;
}
.nav_menu {
  display: flex;
  margin-right: 5rem;
  align-items: center;
  cursor: pointer;
}
.nav_items a {
  color: #fff;
  padding-left: 3rem;
  font-size: 1.5rem;
  position: relative;
}
.nav_items a:before {
  content: '';
  width: 78px;
  height: 3px;
  background-color: rgb(159, 92, 226);
  display: block;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transform: translateX(58%);
}
.nav_items .nav_info:before {
  width: 50px;
  transform: translateX(95%);
}
.nav_items .nav_review:before {
  width: 85px;
  transform: translateX(60%);
}
.nav_items a:hover {
  color: rgb(159, 92, 226);
  transition: all 0.2s ease-in;
}
.nav_items a:hover:before {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.hamBtn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 100px;
  margin-right: 3rem;
  cursor: pointer;
  display: none;
}

.aside {
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.aside_bg1 {
  z-index: 10;
  color: black;
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  max-width: 480px;
  height: 100vh;
  transition-delay: 0.4s;
}
.aside_bg1.visible {
  transition-delay: 0s;
}
.aside_bg2 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 90%;
  background-color: #b794b5;
  /* transition: transform 0.3s ease-in-out; */
}
.aside_bg3 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 88%;
  background-color: #fff;
  /* transition: transform 0.4s ease-in-out; */
}
.close {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  font-style: normal;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
}
.aside_nav_menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}
.aside_nav_items {
  margin: 3rem 0;
}
.aside_nav_items a {
  color: black;
}
.aside_nav_items a:before {
  content: '';
  width: 78px;
  height: 3px;
  background-color: rgb(159, 92, 226);
  display: block;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transform: translateX(58%);
}
.aside_nav_items a:hover {
  color: rgb(159, 92, 226);
  transition: all 0.2s ease-in;
}
.aside_nav_items a:hover:before {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.visible {
  transform: translateX(0);
}

.main_box {
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  text-align: center;
  z-index: 3;
}
.main_imgbox {
  margin: 100px auto 100px;
  border: 5px solid rgb(159, 92, 226);
  border-radius: 50%;
  background-image: url('./images/img_5.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_img {
  width: 200px;
  height: 200px;
}
.main_box img {
  width: 100%;
}
.main_textWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.main_title {
  padding-bottom: 3rem;
  font-size: 48px;
}
.main_textBox {
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: 1000px;
}
.main_btn {
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  border: none;
  background-color: rgb(159, 92, 226);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-weight: 500;
}
.main_btn:hover {
  background-color: #fff;
  color: #0c0c0c;
  transition: all 0.2s ease-in-out;
}
.container_info {
  background-color: #fff;
  color: #0c0c0c;
}
.row {
  display: grid;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}
.row_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col2 col1';
  align-items: center;
}
.col1 {
  grid-area: col1;
  margin-bottom: 15px;
  padding: 0 15px;
}
.col2 {
  grid-area: col2;
  margin-bottom: 15px;
  padding: 0 15px;
}
.col2 img {
  width: 100%;
}
.topline {
  font-size: 18px;
  padding: 15px 0;
  color: rgb(159, 92, 226);
}
.heading {
  font-size: 48px;
  padding: 15px 0;
}
.subtitle {
  font-size: 18px;
  padding: 15px 0 15px;
}
.icons_wrapper {
  padding-bottom: 15px;
}
.icons_wrapper i {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.container_btn {
  border-radius: 5px;
  padding: 1rem 3rem;
  border: none;
  background-color: rgb(159, 92, 226);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.container_btn:hover {
  background-color: #0c0c0c;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.container_info.container_info_black {
  background-color: black;
  color: #fff;
}
.container_info_black .row_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col1 col2';
  align-items: center;
}

.container_info_black .container_btn:hover {
  background-color: #fff;
  color: #0c0c0c;
  transition: all 0.2s ease-in-out;
}
.backToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  color: #fff;
  background-color: rgb(159, 92, 226);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-style: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 3;
}
.backToTop:hover {
  /*  */
}
.backToTop_visible {
  opacity: 1;
}
.panelBg {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.panel_container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  max-width: 500px;
  min-width: 480px;
  text-align: center;
}
.panel_container .rating_link {
  line-height: 20px;
  font-size: 18px;
  color: #0c0c0c;
}
.ratings-container {
  display: flex;
  margin: 20px 0px;
}
.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}
.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(159, 92, 226);
  margin: 8px 3px;
}
.rating img {
  width: 40px;
}
.rating small {
  color: #555;
  margin: 10px 0 0;
}
.rating:hover small,
.rating.active small {
  color: #111;
}
.reviewBtn {
  /* background-color: #302d2b; */
  background-color: rgb(159, 92, 226);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}
.reviewBtn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

/* 


 */

@media screen and (max-width: 1200px) {
  .nav_box {
    margin: 0;
  }
  .nav_logo {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .nav_items a {
    display: none;
  }
  .hamBtn {
    display: block;
  }
  .main_title {
    font-size: 36px;
    margin-bottom: 3rem;
  }
  .main_textBox {
    display: none;
  }
  .main_btn,
  .container_btn {
    font-size: 16px;
    padding: 1rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .nav_logo i {
    font-size: 1.8rem;
  }

  .main_title {
    font-size: 28px;
    margin: 0 2rem;
  }
  .row_wrapper {
    grid-template-areas: 'col1 col1';
    padding: 0 3rem;
  }
  .container_info_black .row_wrapper {
    grid-template-areas: 'col1 col1';
  }
  .col2 {
    display: none;
  }
  .container_btn {
    font-size: 16px;
    padding: 1rem 3rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .main_title {
    font-size: 21px;
  }
  .row_wrapper {
    text-align: center;
    padding: 0 3rem;
  }
  .container_info_black .row_wrapper {
    text-align: center;
  }
}
